<div class="container film__detail__main">
  <div class="container film__detail">
    <div class="film__imj">
      <img src="{{film.imj}}" width="120" height="180">
    </div>
    <div class="film__detail__header">
      {{film.name}}
    </div>
  </div>
  <div class="container session">
    <div class="container show__session__and__line" *ngFor="let session of sessions">
      <hr align="center" width="90%" size="50" color="black"/>
      <div class="container show__session">
        <div class="container hall__info">
          <h1> {{session.hall.cinema.name}}</h1>
          {{session.hall.cinema.address}}, Minsk
        </div>
        <div class="container session__info">
            <a class="select__session" routerLink="/hall/{{session.idSession}}" rel="nofollow noopener">
              <h1>{{session.time}}:00</h1>
              {{session.hall.name}}
            </a>
        </div>
        <div *ngIf="storageService.getCurrentUser()">
          <div *ngIf="storageService.getCurrentUser().role === 'ADMIN'">
            <button type="buttsn" class="btn btn-danger" (click)="_deleteSession(session.idSession)" routerLink="/detail/{{film.filmId}}">Delete Session</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container show__description">
    <hr align="center" width="90%" size="50" color="black"/>
    <div class="show__description__name">
      {{film.name}}
    </div>
    <div class="description__text">
      {{film.description}}
    </div>
  </div>
</div>


<div class="container admin" *ngIf="storageService.getCurrentUser()">
  <div *ngIf="storageService.getCurrentUser().role == 'ADMIN'">
    <div class="admin__panel__header">
      admin panel
    </div>
    <hr align="center" width="90%" size="50" color="black"/>
    <div class="admin__panel__body">
      <div class="admin__button__panel">
        <a class="admin-button" rel="nofollow noopener" data-toggle="modal" data-target="#addFilmModal"
           (click)="_deleteFilm(film.filmId)" routerLink="/films">
          Delete Film
        </a>
      </div>
      <div class="admin__button__panel">
        <a class="admin-button" rel="nofollow noopener" data-toggle="modal" data-target="#addFilmModal"
           (click)="_openAddSessionModal(sessionTemplate)" (click)="_getHalls()" (click)="_getCinemas()">
          Add Session
        </a>
      </div>
      <div class="admin__button__panel">
        <a class="admin-button" rel="nofollow noopener" data-toggle="modal" data-target="#addFilmModal"
           (click)="_openAddCinemaModal(cinemaTemplate)">
          Add Cinema
        </a>
      </div>
      <div class="admin__button__panel">
        <a class="admin-button" rel="nofollow noopener" data-toggle="modal" data-target="#addFilmModal"
           (click)="_openAddHallModal(hallTemplate)" (click)="_getCinemas()">
          Add Hall
        </a>
      </div>
    </div>
  </div>
</div>



<!--ADD SESSION-->
<ng-template #sessionTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{editSessionMode ? "Edit": "Create"}} Session</h4>
      <button type="button" class="close pull-right"
              aria-label="Close" (click)="_closeSessionModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>date</label>
        <input class="form-control" name="date" [(ngModel)]="editableS.date" #date="ngModel" required/>
        <div [hidden]="date.valid || date.untouched" class="alert alert-danger">
          Pls set date
        </div>
      </div>
      <div class="form-group">
        <label>time</label>
        <input class="form-control" name="time" [(ngModel)]="editableS.time" #time="ngModel" required/>
        <div [hidden]="time.valid || time.untouched" class="alert alert-danger">
          Pls set time
        </div>
      </div>
      <div class="form-group">
        <label>Halls</label>
        <select class="form-control" name="hall" [(ngModel)]="editableS.hall">
          <option  *ngFor="let hall of halls" [ngValue]="hall">
            {{hall.name}} {{hall.cinema.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="_addSession(film)"
              [disabled]="time.invalid || date.invalid">{{editSessionMode ? "Save": "Create"}}
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeSessionModal()">Close</button>
    </div>
</ng-template>


<!--ADD CINEMA-->
<ng-template #cinemaTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Cinema</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeCinemaModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>name</label>
      <input class="form-control" name="name" [(ngModel)]="editableC.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set name
      </div>
    </div>
    <div class="form-group">
      <label>address</label>
      <input class="form-control" name="time" [(ngModel)]="editableC.address" #address="ngModel" required/>
      <div [hidden]="address.valid || address.untouched" class="alert alert-danger">
        Pls set address
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addCinema()"
            [disabled]="name.invalid || address.invalid">{{editSessionMode ? "Save": "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeCinemaModal()">Close</button>
  </div>
</ng-template>





<!--ADD SESSION-->
<ng-template #hallTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Hall</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeHallModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>name</label>
      <input class="form-control" name="name" [(ngModel)]="editableH.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Pls set name
      </div>
    </div>
    <div class="form-group">
      <label>№ Seat</label>
      <input class="form-control" name="nSeat" [(ngModel)]="editableH.nSeat" #nSeat="ngModel" required/>
      <div [hidden]="nSeat.valid || nSeat.untouched" class="alert alert-danger">
        Pls set nSeat
      </div>
    </div>
    <div class="form-group">
      <label>№ Row</label>
      <input class="form-control" name="nRow" [(ngModel)]="editableH.nRow" #nRow="ngModel" required/>
      <div [hidden]="nRow.valid || nRow.untouched" class="alert alert-danger">
        Pls set nRow
      </div>
    </div>
    <div class="form-group">
      <label>Cinema</label>
      <select class="form-control" name="cinema" [(ngModel)]="editableH.cinema">
        <option  *ngFor="let cinema of cinemas" [ngValue]="cinema">
          {{cinema.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addHall()"
            [disabled]="name.invalid || nSeat.invalid || nRow.invalid">Create
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeHallModal()">Close</button>
  </div>
</ng-template>






<!--debilnie knopki-->
<!--<button type="button" class="btn btn-danger" (click)="_deleteFilm(film.filmId)" routerLink="/films">Delete Film</button>-->
<!--<button type="button" class="btn btn-danger" (click)="_deleteSession(session.idSession)" routerLink="/detail/{{film.filmId}}">Delete Session</button>-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"-->
<!--  (click)="_openAddSessionModal(sessionTemplate)" (click)="_getHalls()" (click)="_getCinemas()">-->
<!--  Add Session-->
<!--</button>-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCinemaModal"-->
<!--        (click)="_openAddCinemaModal(cinemaTemplate)">-->
<!--  Add Cinema-->
<!--</button>-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createHallModal"-->
<!--        (click)="_openAddHallModal(hallTemplate)" (click)="_getCinemas()">-->
<!--  Add Hall-->
<!--</button>-->
