<nav class="navbar navdar-default" style="background-color: rgb(68, 63, 63)">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="">Gold Screen</a>
    </div>
    <div>
      <ul class="navbar-nav">
        <li class="active">
          <a class="navbar-brand" routerLink="">Home</a>
          <a class="navbar-brand" routerLink="/films">All Films</a>
          <a *ngIf="storageService.getCurrentUser() == null" class="example_d" rel="nofollow noopener" (click)="_openSignInModal(SignIn)">
              Sign In
          </a>
          <a *ngIf="storageService.getCurrentUser()" class="navbar-brand" routerLink="/user-account/{{storageService.getCurrentUser().login}}">
            {{storageService.getCurrentUser().login}}
          </a>
          <a *ngIf="storageService.getCurrentUser()" (click)="logout()" class="example_d" rel="nofollow noopener">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<ng-template #SignIn>
  <div class="modal-header">
    <h4 class="modal-title">Sign In</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeSignInModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input placeholder="login" name="login" class="form-control" [(ngModel)]="loginModel.username" required/>
    </div>
    <div class="form-group">
      <input placeholder="password" type="password" class="form-control" [(ngModel)]="loginModel.password" required/>
    </div>
  </div>
  <div class="text-center mb-3">
    <a class="example_a" rel="nofollow noopener" (click)="_login()">
      Sign In
    </a>
  </div>
  <div class="modal-footer">
    <div>
      <div class="footer__text">
        Not a member?
        <a class="openRegistration" (click)="_openRegistrationModal(Registration)">Sign up</a>
      </div>
    </div>
  </div>
</ng-template>


<!--Registration-->
<ng-template #Registration>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sign up</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeRegistrationModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input type="text" name="login" class="form-control" placeholder="login" [(ngModel)]="editableUs.login" #login="ngModel" required
        pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,20}$"/>
      <div [hidden]="login.valid || login.untouched" class="text-center">
        <div class="invalid__text">
          4-20 symbol
        </div>
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="password" type="password" [(ngModel)]="editableUs.password" required/>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="repeat password" type="password" [(ngModel)]="repeatPassword"/>
    </div>
    <div class="text-center mb-3">
      <a class="example_a" rel="nofollow noopener" (click)="_addUser()">
        Sign Up
      </a>
    </div>
  </div>
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-default" (click)="_addUser()"-->
<!--            [disabled]="login.invalid || password.invalid">Create-->
<!--    </button>-->
<!--    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeRegistrationModal()">Close</button>-->
<!--  </div>-->
</ng-template>
