<div class="container films__header">
  <div class="poster__title">
    Movie poster
  </div>
  <div class="admins__panel" *ngIf="storageService.getCurrentUser()">
    <div class="admin__button__panel" *ngIf="storageService.getCurrentUser().role === 'ADMIN'">
<!--      <a class="admin-button" rel="nofollow noopener" data-toggle="modal" data-target="#addFilmModal"-->
<!--         (click)="_openModal(template)">-->
<!--        Add Film-->
<!--      </a>-->
      <button class="button_add_film" data-toggle="modal" data-target="#addFilmModal"
              (click)="_openModal(template)">
        Add Film
      </button>
    </div>
    </div>
</div>

<div class="all__films">
  <hr align="center" width="90%" size="50" color="black"/>
  <div class="film__block" *ngFor="let film of films">
    <div class="film__imj">
      <img src="{{film.imj}}" width="161.75" height="300">
    </div>
    <div class="film__name">
      {{film.name}}
    </div>
    <div class="button_cont" align="center">
      <a class="buy-ticket-button-all-films" routerLink="/detail/{{film.filmId}}" rel="nofollow noopener">
        Buy Ticket
      </a>
    </div>
  </div>
</div>

<!--<div class="container admin" *ngIf="storageService.getCurrentUser()">-->
<!--  <div *ngIf="storageService.getCurrentUser().role == 'ADMIN'">-->
<!--    <div class="admin__panel__header">-->
<!--      admin panel-->
<!--    </div>-->
<!--    <hr align="center" width="90%" size="50" color="black"/>-->
<!--    <div class="admin__panel__body">-->
<!--      <div class="admin__button__panel">-->
<!--        <a class="admin-button" rel="nofollow noopener" data-toggle="modal" data-target="#addFilmModal"-->
<!--           (click)="_openModal(template)">-->
<!--          Add Film-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--Add Film-->


<!--Add Film-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Film</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>name</label>
      <input class="form-control" [(ngModel)]="editableF.name"/>
    </div>
    <div class="form-group">
      <label>description</label>
      <input class="form-control" [(ngModel)]="editableF.description"/>
    </div>
    <div class="form-group">
      <label>time</label>
      <input class="form-control" [(ngModel)]="editableF.time"/>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-center mb-3">
      <a class="example_a" rel="nofollow noopener" (click)="-_addFilm()">
        Create
      </a>
    </div>
  </div>
</ng-template>
